body, p, h1, h2, form, input, button { margin: 0; padding: 0; }

body {
	margin: 0;
	font: normal 15px "Open Sans", arial, sans-serif;
	font-weight: 300;
	color: $fontColour;
	background: {
		color: $backgroundColour;
	}
}

a {
	color: $ddGreen !important;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1, h2, p {
	margin: 0 0 15px 0;
}

main {
	padding: 20px 20px 10px 20px;
	float: left;
	width: 700px;
	background-color: $backgroundColour - 3;
}

h2 {
	color: $ddBlue;
	font-weight: normal;
}

button, input[type='submit'] {
	border: none;
	color: $fontColourDark;
	background-color: $ddGreen;
	padding: 10px 20px;
	border-radius: 5px;
	outline: none;
	font-size: 12px;

	&:hover {
		cursor: pointer;
		background-color: $ddGreen + 15;
	}

	&.yes {
		background-color: $ddGreen;
		&:hover {
			background-color: $ddGreen + 15;
		}		
	}

	&.no {
		background-color: $ddRed;
		&:hover {
			background-color: $ddRed + 15;
		}	
	}
}

.error {
	color: $ddRed;
}

.ddBlue { color: $ddBlue; }
.ddGreen { color: $ddGreen; }
.ddRed { color: $ddRed; }

.loader {
  	border: 2px solid $ddGreen;
  	border-right-color: transparent;
  	border-radius: 50%;
  	display: block;
  	margin: 0 auto 20px auto;
  	width: 24px;
  	height: 24px;
  	animation: spin 1s linear infinite;
}

.loader-small {
  	@extend .loader;
  	margin: 0;
  	width: 12px;
  	height: 12px;
}

.sortable {

	cursor: move;

	&:hover, &:hover td {
		background-color: $backgroundColour + 5;
	}
}