<div class="dd-confirm">
	<div class="dd-overlay" ng-class="{ visible: ctrl.isVisible }" ng-click="ctrl.close()">
		<div class="dd-confirm-box" ng-class="{ visible: ctrl.isVisible }">
			<p class="dd-confirm-question" ng-bind-html="ctrl.question"></p>
			<button ng-click="ctrl.sayYes()" class="dd-confirm-yes">YEAH, DO IT.</button>
			<button ng-click="ctrl.sayNo()" class="dd-confirm-no no">WAIT, NO!</button>
		</div>
	</div>
	<a ng-click="ctrl.ask()" class="dd-confirm-link" href="javascript:;" ng-transclude></a>
</div>